<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Test Automation Suite" verbose="1" parallel="none">

    <listeners>
        <listener class-name="com.automation.listeners.ExtentReportListener"/>
        <listener class-name="com.automation.listeners.AllureListener"/>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="com.automation.runners.TestRunner"/>
        </classes>
    </test>

</suite>